<div class="meterReading">
  <div class="ms-5 pt-5" style="max-width: 500px;">
    <div class="card-body mx-auto">
      <div class="row">
        <div class= "card card-signup p-3">
            <div class="d-flex align-items-center">
              <%= link_to property_path(@property), class: "black_icon" do %>
                <i class="fa-solid fa-square-caret-left mr-2 pb-3"></i>
              <% end %>
              <h2>New Reading</h2>
            </div>
            <%= form_with(model: [@property, @reading]) do |form| %>
              <div class="form-group">
                <%= form.label :type_of_reading, class: "form-label" %>
                <%= form.text_field :type_of_reading, class: "form-control form-control-lg", placeholder: "Enter type of meter reading" %>
              </div>
              <div class="form-group">
                <%= form.label :result, class: "form-label" %>
                <%= form.text_field :result, class: "form-control form-control-lg", placeholder: "Enter result of meter reading" %>
              </div>
              <div>
                <a href="#"  type="submit" class="btn btn-outline-dark btn-lg" onclick="document.querySelector('form').submit();">
                  <i class="fa-solid fa-ruler mr-2"></i>
                  Create Reading
                </a>
              </div>
            <% end %>
        <div>
      </div>
    </div>

  </div>
</div>
