<div class="handoverKey">
  <div class="ms-5 pt-5" style="max-width: 500px;" >
    <article class="card-body mx-auto">
      <div class="row">
        <div class= "card crad-signup p-3">


          <div class="card-header">
          <div class="d-flex align-items-center">
          <%= link_to property_path(@property), class: "black_icon" do %>
                <i class="fa-solid fa-square-caret-left mr-2"></i>
              <% end %>
            <h1>Keys</h1>
           </div>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Number</th>
                  <th>Type</th>
                </tr>
              </thead>
              <tbody>
                <% @keys.each do |key| %>
                  <tr>
                    <td><%= key.title %></td>
                    <td><%= key.description %></td>
                    <td><%= key.type_of_key %></td>
                    <td><%= button_to "", property_key_path(@property, key),
                      method: :delete, data: { confirm: 'Are you sure?' }, class: "fas fa-trash" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
            <div class="card-footer">
              <%= link_to "New Key", new_property_key_path, class: "btn btn-outline-dark" %>
            </div>
          </div>

        </div>
      </div>
    </article>
  </div>
</div>
