<h1>New Key</h1>

<%= form_with(model: [@property, @key ]) do |form| %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :type %>
    <%= form.text_field :type_of_key %>
  </div>

  <div>
    <%= form.submit "Create Key" %>
  </div>
<% end %>
