<div class="propertyBackground d-flex align-items-center">
  <div class="container">
    <h1 class="white-text shadow p-1">Property Inventory Management Specialists</h1>
    <h3 class="white-text shadow p-1">We will help you create accurate, fully-compliant property reporting, wherever you are and whenever you need it!</h3>

    <%= link_to "Create Property", new_property_path, class: "btn btn-outline-light" %>
  </div>
</div>
<div class="half-and-half">
  <div class="container half-and-half">
    <div class="row pt-5">
      <% @properties.each do |property| %>
        <%= link_to property_path(property), class:"col-sm-12 col-md-6 col-lg-4 mb-4" do %>
          <div class="card card2 card-has-bg click-col" style="background-image:url('https://source.unsplash.com/600x900/?tech,street');">
            <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt=<%=property.street %>>
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <small class="card-meta mb-2">Easy Handover</small>
                <br>
                <h5 class="card-title white-text"><%= property.street %></h5>
                <br>
                <h6 class="card-subtitle mb-2 white-text">
                  <%= property.city %>
                </h6>
                <br>
                <h6 class="card-subtitle mb-2 white-text">
                  <%= property.postcode %>
                </h6>
                <p class="card-text white-text">
                  <small>
                    <i class="far fa-clock"></i>
                    <% if property.move_in.present? %>
                      Move-in: <%= property.move_in %><br>
                    <% end %>
                    <% if property.move_out.present? %>
                      Move-out: <%= property.move_out %><br>
                    <% end %>
                  </small>
                </p>
              </div>
            </div>
        </div>
        <% end %>


      <% end %>
    </div>

  </div>
</div>
