 <div class="container">
  <%= form_for @property do |f| %>
      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_field :address %>
      </div>

      <div class="form-group">
        <%= f.label :city %>
        <%= f.text_field :city %>
      </div>

      <div class="form-group">
        <%= f.label :postcode %>
        <%= f.number_field :postcode %>
      </div>

      <div class="form-group">
        <%= f.label :move_in %>
        <%= f.date_field :move_in %>
      </div>

      <div class="form-group">
        <%= f.label :move_out %>
        <%= f.date_field :move_out %>
      </div>

      <div class="form-group">
        <%= f.label :visible %>
        <%= f.check_box :visible %>
      </div>

      <div class="form-group">
        <%= f.submit "Create Property", class: "btn btn-primary" %>
      </div>
    <% end %>
</div>
