 <div class="container">
  <%= simple_form_for(@property) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <div class="form-inputs">
        <%= f.input :address %>
        <%= f.input :city %>
        <%= f.input :postcode %>
        <%= f.input :move_in, as: :date %>
        <%= f.input :move_out, as: :date %>
        <%= f.input :visible, as: :boolean %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Create Property", class: "btn btn-primary" %>
      </div>
    <% end %>
</div>
