
<div class="property-create">
  <div class="container pt-3" >
    <article class="card-body mx-auto" style="max-width: 400px;">
      <h3 class="text-white shadow p-3">Please enter your address</h3>
      <div class="row bg-white rounded">
        <div class= "card crad-signup p-3">
          <%= simple_form_for(@property) do |f| %>
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            <div class="form-inputs">
              <%= f.input :street %>
              <%= f.input :city %>
              <%= f.input :postcode %>

              <%= f.input :move_in, as: :string,
                wrapper_html: { class: "mb-4" },
                label_html: { class: "form-label text-secondary fw-bold" },
                input_html: { data: { controller: "flatpickr" } },
                enableTime: false,
                dateFormat: "Y-m-d"
                %>

              <%= f.input :move_out, as: :string,
                wrapper_html: { class: "mb-4" },
                label_html: { class: "form-label text-secondary fw-bold" },
                input_html: { data: { controller: "flatpickr" } } %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Create Property", class: "btn btn-outline-dark" %>
            </div>
          <% end %>
        </div>
      </div>
    </article>
  </div>
</div>
