<div class="back_grad_color">

    <div class="d-flex  justify-content-around">
      <div>
        <div class="container pt-5">
          <h1 class="white-text">Property Details</h1>
          <h3 class="white-text"><%= @property.address %></h2>
          <h3 class="white-text"><%= @property.city %></h2>
          <h3 class="white-text"><%= @property.postcode %></h2>
        </div>
        <p>To create a pdf and complete the Inventory process please do the following</p>
        <ol>
          <li>click on the create room/meter readings/keys</li>
          <li>complete title and description</li>
          <li>upload picture and description</li>
          <li>once all three are completed click generate pdf and send it to the other desired party</li>
        </ol>
        <div class="container">
          <%= link_to "Go back to Properties", properties_path, class: "btn btn-warning my-3" %>
          <%= link_to "generate pdf", property_posts_path(@property, format: :pdf), class: "btn btn-secondary my-3 ml-2" %>
        </div>
      </div>





    <div>
      <div class="card shadow p-3 mb-5 bg-white rounded mx-2 cardbackground" style="width: 100%">
        <div class="card-body">
          <h5 class="card-title"><strong>Rooms</strong></h5>
          <% if @property.rooms.any? %>
            <ul>
              <% @property.rooms.each do |room| %>
                <li class="flex-container">
            <div class="flex-item"><%= room.name %></div>
            <div class="flex-item"><%= button_to "", property_room_path(@property, room), method: :delete, data: { confirm: 'Are you sure?' }, class: "fas fa-trash" %></div>
          </li>
              <% end %>
            </ul>
          <% else %>
            <p>No rooms found.</p>
          <% end %>
          <%= link_to "Create Room", new_property_room_path(@property), class: "btn btn-primary mt-3" %>
        </div>
      </div>

      <div class="card shadow p-3 mb-5 bg-white rounded mx-2 cardbackground" style="width: 100%">
        <div class="card-body">
          <h5 class="card-title"><strong>Keys</strong></h5>
          <% if @property.keys.any? %>
            <ul>
              <% @property.keys.each do |key| %>
                <li class="flex-container">
            <div class="flex-item"><%= key.title %></div>
            <div class="flex-item"><%= button_to "", property_key_path(@property, key),
            method: :delete, data: { confirm: 'Are you sure?' }, class: "fas fa-trash" %></div>
          </li>
              <% end %>
            </ul>
          <% else %>
            <p>No keys found.</p>
          <% end %>
          <%= link_to "Create Key", new_property_key_path(@property), class: "btn btn-secondary mt-3" %>
        </div>
      </div>

      <div class="card shadow p-3 mb-5 bg-white rounded mx-2 cardbackground" style="width: 100%">
        <div class="card-body">
          <h5 class="card-title"><strong>Readings</strong></h5>
          <% if @property.readings.any? %>
            <ul>
              <% @property.readings.each do |reading| %>
                 <li class="flex-container">
              <div class="flex-item"><%= reading.type_of_reading %></div>
              <div class="flex-item"><%= button_to "", property_reading_path(@property, reading), method: :delete, data: { confirm: 'Are you sure?'}, class: "fas fa-trash"  %></div>
            </li>
              <% end %>
            <ul>
          <% else %>
            <p>No Readings found.</p>
          <% end %>
          <%= link_to "Create Reading", new_property_reading_path(@property), class: "btn btn-primary mt-3" %>
        </div>
      </div>

    </div>
  </div>
</div>
