<h1>All Rooms</h1>

<div class="container">
  <%= simple_form_for [@property, @room] do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.button :submit %>
  <% end %>

  <div class="flex">
    <% @property.rooms.each do |r| %>
    <p><%=link_to r.name, rooms_path(@room), class:"btn btn-info" %></p>
    <p><%= link_to "Delete", @room, method: "destroy", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-danger"%></p>
  <% end %>
  </div>

</div>
