<%# this might be better for the damages but im testing it out Tom Elsom 09/03/23 %>


<h1><%= @room.name %></h1>
<% @room.damages.each do |damage| %>
  <%= cl_image_tag damage.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
<%= form_with model: [@room, @damage], data: { controller: "damage" } do |form| %>
  <%= form.label :description %>
  <%= form.text_area :description %>
  <%= form.label :photo %>
  <%= form.file_field :photo, data: { target: "damage.photoInput" } %>
  <%= form.submit "Submit" %>
<% end %>
