<%# this might be better for the damages but im testing it out Tom Elsom 09/03/23 %>


<h1><%= @room.name %></h1>
<% @room.damages.each do |damage| %>
  <% if damage.photo.attached? %>
    <%= cl_image_tag damage.photo.key, height: 300, width: 400, crop: :fill %>
  <% end%>
<% end %>

<%= simple_form_for [@room, @damage] do |f| %>
  <%= f.input :title, label: 'title'%>
  <%= f.input :description, hint: 'description' %>
  <%= f.input :photo, as: :file, data: { target: "damage.photoInput" }  %>
  <%= f.button :submit %>
<% end %>

