<%# this might be better for the damages but im testing it out Tom Elsom 09/03/23 %>
<div class="damageImage">
  <section class="vh-100 bg-image">
    <div style="width: 100vw; height: 100vh" >
      <div class="container mb-6">
        <div class="row  mt-4 ">
          <div class="col-md-6">
            <div class="carousel-margin">
              <div id="carouselExampleCaptions" class="carousel slide w-150 mr-5 rounded float-right" data-bs-ride="false">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <% @room.damages.each_with_index do |damage, index| %>
                  <% new_class = index == 0 ? "active" : "" %>
                    <% if damage.photo.attached? %>
                      <div class="<%= new_class %> carousel-item">
                        <%= cl_image_tag damage.photo.key, height: 400, style: "width: 100%;", crop: :fill, class:"d-block w-100 dark-image img-fluid" %>
                          <div class="carousel-caption d-md-block">
                            <p class="card-title text-white"><%= damage.title  %></p>
                            <p class="card-text text-white"><%= damage.description %></p>
                          </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
            <div class="col-md-5 mx-auto">
              <h1><%= @room.name.capitalize %></h1>
            <div class="card">
              <h4 class="card-header">Create your damages</h4>
              <div class="card-body">
                <p class="card-text">Please complete the form and upload a picture</p>
              </div>
            </div>
              <%= simple_form_for [@room, @damage] do |f| %>
                <div class="">
                  <%= f.input :title, label: 'Title', class: "col-md-1 mx-auto bg-primary p-3", placeholder: "Don't forget to add the title" %>
                </div>
                <div class="">
                  <%= f.input :description, label: 'Description', placeholder: "Please enter a description of the damaged goods" %>
                </div>
                <div class="">
                  <%= f.input :photo, as: :file, data: { target: "damage.photoInput" }  %>
                </div>
                <div type="button" class="btn btn-dark">
                  <%= f.button :submit, class: "text-white" %>
                </div>
              <% end %>
      </div>
    </div>
  </div>
</div>
