<%# this might be better for the damages but im testing it out Tom Elsom 09/03/23 %>
<div class="damageImage">

<section class="vh-100 bg-image">
<div style="width: 100vw; height: 100vh" >

<div class="container mb-6">
  <div class="row  mt-4 ">
    <div class="col-md-7">
    <body class="p-3 m-0 border-0 bd-example">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Create your damages</h5>
          <p class="card-text">Give a discription for your damages and upload your photo.</p>
        </div>
    </div>
  </body>
      <div class="">
        <% @room.damages.each do |damage| %>
          <% if damage.photo.attached? %>
          <div class="card" style="width: 18rem;">
            <%= cl_image_tag damage.photo.key, height: 150, style: "width: 100%", crop: :fill, class:"mr-1" %>
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        <% end%>
      <% end %>
      </div>
    </div>
    <div class="col-md-5 mx-auto">
      <h1><%= @room.name.capitalize %></h1>

      <%= simple_form_for [@room, @damage] do |f| %>
      <div class="">
        <%= f.input :title, label: 'Title', class: "col-md-1 mx-auto bg-primary p-3" %>
      </div>
      <div class="">
        <%= f.input :description, label: 'Description' %>
      </div>
      <div class="">
        <%= f.input :photo, as: :file, data: { target: "damage.photoInput" }  %>
        </div>
        <div type="button" class="btn btn-primary"></button>
          <%= f.button :submit %>
        </div>
      <% end %>
    </div>
    </div>
  </div>
</div>
</div>
