<div class="push_back bg-info">
  <nav class="navbar navbar-expand-lg navbar-light bg-light font-awesome-font bg-success">
    <a class="navbar-brand" href="#">Easy Handover</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
        </li>
        <% if controller_name == "properties" && action_name == "show" %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Property
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Other Party</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="<%= rooms_path %>">Rooms</a>
              <a class="dropdown-item" href="#">Keys</a>
              <a class="dropdown-item" href="#">Measurements</a>
            </div>
          </li>
        <% end %>
      </ul>
      <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger mr-2" %>
          <%= link_to "Properties", properties_path, class: "btn btn-secondary" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "btn btn-primary mr-2" %>
        <%= link_to "SignUp", new_user_registration_path, class: "btn btn-secondary" %>
      <% end %>
    </div>
  </nav>
</div>
